-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: a11d9314b22d8f8c7556443875b731ef05965464
    hooks:
    -   id: autopep8-wrapper
        language_version: python3
    -   id: check-added-large-files
    -   id: check-docstring-first
        language_version: python3
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: debug-statements
        language_version: python3
    -   id: detect-private-key
        exclude: ^(tests/account/creation_test.py|\.activate\.sh)$
    -   id: double-quote-string-fixer
        language_version: python3
    -   id: end-of-file-fixer
        exclude: ^\.activate\.sh$
    -   id: flake8
        language_version: python3
    -   id: name-tests-test
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/asottile/reorder_python_imports.git
    sha: v0.3.2
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-tabs
        exclude: ^(Makefile|debian/rules|\.activate\.sh)$
