Source: python-ocflib
Section: python
Priority: optional
Maintainer: Open Computing Facility <help@ocf.berkeley.edu>
Build-Depends: debhelper (>= 9~), dh-python, python-all (>= 2.6.6-3~),
 python-setuptools, python3-all, python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/ocf/ocflib
Vcs-Git: git://github.com/ocf/ocflib.git
Vcs-Browser: https://github.com/ocf/ocflib
X-Python3-Version: >= 3.2

Package: python3-ocflib
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: libraries for account and server management
 .
 This package installs the library for Python 3.
